<div class="evtf-toast-stack" *ngIf="(toastService.toasts$ | async) as toasts">
  <article
    *ngFor="let toast of toasts; trackBy: trackByToastId"
    class="evtf-toast"
    [class.evtf-toast--success]="toast.type === 'success'"
    [class.evtf-toast--error]="toast.type === 'error'"
    [class.evtf-toast--warning]="toast.type === 'warning'"
    [class.evtf-toast--info]="toast.type === 'info'">
    <div class="evtf-toast__icon">
      <mat-icon *ngIf="toast.type === 'success'" aria-hidden="true">check_circle</mat-icon>
      <mat-icon *ngIf="toast.type === 'error'" aria-hidden="true">error</mat-icon>
      <mat-icon *ngIf="toast.type === 'warning'" aria-hidden="true">warning</mat-icon>
      <mat-icon *ngIf="toast.type === 'info'" aria-hidden="true">info</mat-icon>
    </div>
    <div class="evtf-toast__copy">
      <h4>{{ toast.title }}</h4>
      <p>{{ toast.message }}</p>
    </div>
    <button type="button" class="evtf-toast__dismiss" (click)="toastService.remove(toast.id)" aria-label="Dismiss notification">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </article>
</div>
